<!DOCTYPE html>
<!--更新个人信息的页面-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>银行卡主页</title>

    <script th:src="@{/webjars/jquery/1.12.3/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <script th:src="@{/static/js/html5shiv.min.js}"></script>
    <script th:src="@{/static/js/respond.min.js}"></script>
    <script th:src="@{/static/js/fileinput.js}"></script>
    <script th:src="@{/static/js/zh.js}"></script>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/slick.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/fileinput.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/slick-theme.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/nouislider.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}"/>

    <!--<script>-->
        <!--$(function () {-->
            <!--var val = $("#bankCardNo").val()-->
            <!--if (val != null || val != "") {-->
                <!--$("#add_address_btn").hide()-->
            <!--} else {-->
                <!--$("#update_address_btn").hide()-->
            <!--}-->
        <!--})-->
    <!--</script>-->

</head>
<body>
<!-- HEADER -->
<header>
    <!-- 最上面的一排 -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +18875150531</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> zhangzhou@yiji.com</a></li>
                <li><a th:href="@{http://www.cque.edu.cn/}"><i class="fa fa-map-marker"></i> 重庆 重庆第二师范学院</a></li>
            </ul>
            <ul class="header-links pull-right" shiro:user="">
                <li><a href="#"><i class="fa fa-dollar"></i>
                    <shiro:principal property="userName"/>
                    <a th:href="@{/login/logout}">，注销 </a></a></li>
                <li><a th:href="@{/user/myIndex}"><i class="glyphicon glyphicon-user"></i> 我的账户</a></li>
                <li shiro:hasAnyRoles="admin"><a  th:href="@{/admin/toAdmin.html}"> <i class="fa fa-user-o"></i>管理员界面 </a></li>
                <li shiro:hasAnyRoles="merchant"><a th:href="@{/merchants/toMerchants}"> <i class="fa fa-user-o"></i>商家界面 </a></li>
            </ul>
            <ul class="header-links pull-right" shiro:notAuthenticated="">
                <li><a th:href="@{/login/toLogin}"><i class="fa fa-user-o"></i>登录 </a></li>
                <li><a th:href="@{/regist/toRegist}"><i class="fa fa-user-o"></i>注册 </a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a th:href="@{/index}" class="logo">
                            <img th:src="@{/static/img/logo2.jpg}" alt="" height="70" width="150">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3>管理银行卡</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="#">个人信息</a></li>
                    <li><a href="#">信息管理</a></li>
                    <li><a href="#">新增银行卡</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->


<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-7">
                <h3 id="add_msg"></h3>
                <div class="billing-details">
                    <form id="add_bank_form">
                        <label>银行账户号：</label>
                        <div class="form-group">
                            <input class="input" type="text" th:value="${bank.bankCardNo}" name="bankCardNo"
                                   id="bankCardNo" placeholder="银行账户号">
                        </div>
                        <label>银行账户类型：</label>
                        <div class="form-group">
                            <input class="input" type="text" th:value="${bank.bankCardType}" name="bankCardType"
                                   id="bankCardType" placeholder="银行账户类型">
                        </div>
                        <label>银行中文名称：</label>
                        <div class="form-group">
                            <input class="input" type="text" th:value="${bank.bankZhName}" name="bankZhName"
                                   id="bankZhName" placeholder="银行中文名称">
                        </div>
                        <label>银行预留手机号：</label>
                        <div class="form-group">
                            <input class="input" type="text" th:value="${bank.bankCardMobile}" name="bankCardMobile"
                                   id="bankCardMobile" placeholder="银行预留手机号">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" th:value="${bank.bankUserId}" name="bankUserId"
                                   id="bankUserId" hidden="hidden" placeholder="">
                        </div>
                        <div class="form-group">
                            <input class="input" type="text" th:value="${bank.id}" name="id" id="id" hidden="hidden"
                                   placeholder="">
                        </div>
                    </form>
                    <button id="add_address_btn" class="btn btn-default btn-lg">点击新增</button>
                    <button id="update_address_btn" class="btn btn-default btn-lg">点击修改</button>
                    <a id="return_index_btn" class="btn btn-default btn-lg" th:href="@{/user/myIndex}">返回个人界面</a>
                    <!--返回上一页，并刷新-->
                    <a href="javascript:" class="btn btn-default btn-lg" onclick="self.location=document.referrer;">返回上一页</a>
                    <span hidden="hidden" id="userId"><shiro:principal property="userId"/></span>
                </div>

            </div>
        </div>
    </div>
    <!-- /SECTION -->
</div>


<!-- 脚部文件 -->
<footer id="footer" th:fragment="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">关于我们</h3>
                        <p>易恩商城秉持着方便、快捷、时尚、大气的原则，为客户提供更加优质的购物体验。</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>重庆市南岸区</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>zhangzhou@yiji.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-8 col-xs-6">
                    <div class="col-md-4 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">产品</h3>
                            <ul class="footer-links">
                                <li><a href="#">商家入驻</a></li>
                                <li><a href="#">产品投入</a></li>
                                <li><a href="#">市场营销</a></li>
                                <li><a href="#">市场拓展</a></li>
                                <li><a href="#">欢迎光临</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">信息</h3>
                            <ul class="footer-links">
                                <li><a href="#">关于我们</a></li>
                                <li><a href="#">加入我们</a></li>
                                <li><a href="#">优材招聘</a></li>
                                <li><a href="#">团队合作</a></li>
                                <li><a href="#">人才培养</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">服务</h3>
                            <ul class="footer-links">
                                <li><a href="#">账号信息</a></li>
                                <li><a href="#">异常描述</a></li>
                                <li><a href="#">投诉意见</a></li>
                                <li><a href="#">在线客服</a></li>
                                <li><a href="#">有朋自远方来，不亦乐乎</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

</footer>
<!-- /脚部文件 -->

<script>

    /**
     * 添加收货地址
     */
    $("#add_address_btn").click(function () {
        var userId = $("#userId").text()
        $("#bankUserId").attr("value", userId);
        alert(userId)
        $.ajax({
            url: '/user/addBank',
            type: "POST",
            data: $("#add_bank_form").serialize(),
            success: function (result) {
                if (result.code == 100) {
                    console.log(result)
                    alert(result.info)
                } else {
                    alert(result.info)
                    return false
                }
                return false
            },
        });
    })

    /**
     * 修改收货地址
     */
    $("#update_address_btn").click(function () {
        var userId = $("#userId").text()
        $("#addressUserId").attr("value", userId);
        alert(userId)
        $.ajax({
            url: '/user/updateBank',
            type: "POST",
            data: $("#add_bank_form").serialize(),
            success: function (result) {
                if (result.code == 100) {
                    console.log(result)
                    alert(result.info)
                } else {
                    alert(result.info)
                    return false
                }
                return false
            },
        });
    })

</script>

<script th:src="@{/static/js/slick.min.js}"></script>
<script th:src="@{/static/js/nouislider.min.js}"></script>
<script th:src="@{/static/js/jquery.zoom.min.js}"></script>
<script th:src="@{/ststic/js/main.js}"></script>

</body>
</html>
