<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>易恩商城主页</title>

    <script th:src="@{/webjars/jquery/1.12.3/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/slick.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/slick-theme.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/nouislider.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/style.css}"/>

    <script>
        function toShopCar() {
            window.location.href = "/shopCar/toShopCar?userId=" + $("#userId_id_val").text()
        }

        function toKill() {
            $.ajax({
                url: "/kill/toKillAjax",
                success: function (result) {
                    if (result.code == 300) {
                        alert(result.info)
                    } else {
                        window.location.href = ""+result.info
                    }
                }
            })
            return false
        }

        /**
         * 根据页码与条数，获取对应的商品信息
         * @param pageNum ： 商品页数，默认为1
         * @param pageSize ： 每页显示商品的条数
         */
        function selectAllGoodsByPage(pageNum, pageSize, goodsType) {
            $.ajax({
                url: '/goods/selectGoodsByPage',
                type: "POST",
                data: {
                    pageNum: pageNum,
                    pageSize: pageSize,
                    goodsType: goodsType
                },
                success: function (result) {
                    console.log(result)
                    eachGoods(result.list)
                    build_page_info(result)
                    build_page_nav(result)
                    //跳转到页面顶部
                    $(window).scrollTop(0);
                    $("#page_info_area").show()
                    $("#page_nav_area").show()
                }
            })
        }

        /**
         * 定义商品的页数
         * @type {number}
         */
        var pageNum = 1
        /**
         * 定义商品的条数
         * @type {number}
         */
        var PageSize = 24

        /**
         * 获取需要的产品的类型
         */
        var goodsType = 0

        function getGoodsType(num) {
            goodsType = num
            //查询对应的数据
            selectAllGoodsByPage(pageNum, PageSize, goodsType)
        }

        /**
         * 页面加载即发送请求，获取对应的商品的信息
         */
        $(function () {
            //查询对应的数据
            selectAllGoodsByPage(pageNum, PageSize, goodsType)
        })

        /**
         * 遍历商品
         */
        function eachGoods(goods) {
            $("#goods_list").empty();
            $.each(goods, function (index, value) {
                 var name = value.goodsName.substring(0,18)
                var shop = $(
                    "<div class='col-lg-3'  style='margin-top:70px;'>" +
                    "<div class='shop-img'>" +
                    "<a href='/goods/goodDetail/" + value.goodsId + "'>" +
                    "<img name='img' src=' " + value.goodsImage1 + " ' alt='' width='250px' height='250px'>" +
                    "</a>" +
                    "<a href='/goods/goodDetail/" + value.goodsId + "' class='cta-btn'>"+name+"</a>" +
                    "</div>" +
                    "<div>" +
                    "<h5>商品原价：" + value.goodsDefaultAmount + "</h5>" +
                    "<h5>商品折扣价：" + value.goodsNowAmount + "</h5>" +
                    "<a href='/goods/goodDetail/" + value.goodsId + "' class='cta-btn'>查看详情 <i class='fa fa-arrow-circle-right'></i></a>" +
                    "<a href='/goods/goodsBuy/" + value.goodsId + "' class='cta-btn'>点击购买 <i class='fa fa-arrow-circle-right'></i></a>" +
                    "</div>" +
                    "</div>"
                );
                shop.appendTo("#goods_list")
            })
        }

        /**
         * 分页条的编写
         */
        var totalRecord, currentPage;
        function build_page_info(result) {
            $("#page_info_area").empty();
            $("#page_info_area").append("当前" + result.pageNum + "页,总" +
                result.pages + "页,总" +
                result.total + "条记录");
            totalRecord = result.total;
            currentPage = result.pageNum;
        }

        function build_page_nav(result) {
            $("#page_nav_area").empty();
            var ul = $("<ul></ul>").addClass("pagination");
            var firstPageLi = $("<li></li>").append($("<a></a>").append("首页").attr("href", "#"));
            var prePageLi = $("<li></li>").append($("<a></a>").append("&laquo;"));
            if (result.hasPreviousPage == false) {
                firstPageLi.addClass("disabled");
                prePageLi.addClass("disabled");
            } else {
                firstPageLi.click(function () {
                    selectAllGoodsByPage(1, 24, goodsType);
                });
                prePageLi.click(function () {
                    selectAllGoodsByPage(result.pageNum-1, 24, goodsType);
                });
            }
            var nextPageLi = $("<li></li>").append($("<a></a>").append("&raquo;"));
            var lastPageLi = $("<li></li>").append($("<a></a>").append("末页").attr("href", "#"));
            if (result.hasNextPage == false) {
                nextPageLi.addClass("disabled");
                lastPageLi.addClass("disabled");
            } else {
                nextPageLi.click(function () {
                    selectAllGoodsByPage(result.pageNum+1, 24, goodsType)
                });
                lastPageLi.click(function () {
                    selectAllGoodsByPage(result.pages, 24, goodsType);
                });
            }
            //添加首页和前一页 的提示
            ul.append(firstPageLi).append(prePageLi);
            //1,2，3遍历给ul中添加页码提示
            $.each(result.navigatepageNums, function (index, item) {

                var numLi = $("<li></li>").append($("<a></a>").append(item));
                if (result.pageNum == item) {
                    numLi.addClass("active");
                }
                numLi.click(function () {
                    selectAllGoodsByPage(item, 24, goodsType)
                });
                ul.append(numLi);
            });
            //添加下一页和末页 的提示
            ul.append(nextPageLi).append(lastPageLi);

            //把ul加入到nav
            var navEle = $("<nav></nav>").append(ul);
            navEle.appendTo("#page_nav_area");
        }

        /**
         * 点击搜索按钮以后，进行商品的search查询操作
         */
        $(document).on("click","#my_search_btn",function () {
            var text = $("#search_value").val()
            var type = $("#search_option option:selected").val()
            if (type == 0) {
                findByAllGoods(text)
            } else {
                findByGoodsNameAndGoodsTypeId(text, type)
            }
        })

        /**
         * 搜索框，选择搜索全部的请求发送
         * @param goodsNameValue
         */
        function findByAllGoods(goodsNameValue) {
            $.ajax({
                url: "/search/findByAllGoods",
                type: "POST",
                data: {
                    goodsNameValue: goodsNameValue
                },
                success: function (result) {
                    console.log(result)
                    eachGoods(result)
                    $("#page_info_area").hide()
                    $("#page_nav_area").hide()
                }
            })
            return false
        }

        /**
         * 搜索框，选择搜索对应类型的商品的时候进行发送请求
         * @param goodsNameValue
         * @param goodsTypeId
         */
        function findByGoodsNameAndGoodsTypeId(goodsNameValue, goodsTypeId) {
            $.ajax({
                url: "/search/findByGoodsNameAndGoodsTypeId",
                type: "POST",
                data: {
                    goodsNameValue: goodsNameValue,
                    goodsTypeId: goodsTypeId,
                },
                success: function (result) {
                    console.log(result)
                    eachGoods(result)
                    $("#page_info_area").hide()
                    $("#page_nav_area").hide()
                    return false
                }
            })
            return false
        }
        //
        // $(document).on("click","#test_ajax",function () {
        //     $.ajax({
        //         url: "/kill/toKillAjax",
        //         success: function (result) {
        //             if (result.code == 300) {
        //                 alert(result.info)
        //             } else {
        //                 window.location.href = ""+result.info
        //             }
        //         }
        //     })
        //     return false
        // })

    </script>

</head>
<body>
<span id="userId_id_val" hidden="hidden"><shiro:principal property="userId"/></span>
<!--<button id="test_ajax">测试一下</button>-->
<!-- HEADER -->
<header>
    <!-- 最上面的一排 -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +18875150531</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> zhangzhou@yiji.com</a></li>
                <li><a th:href="@{http://www.cque.edu.cn/}"><i class="fa fa-map-marker"></i> 重庆 重庆第二师范学院</a></li>
            </ul>
            <ul class="header-links pull-right" shiro:user="">
                <li><a href="#"><i class="fa fa-dollar"></i>
                    <shiro:principal property="userName"/>
                    <a th:href="@{/login/logout}">，注销 </a></a></li>
                <li><a th:href="@{/user/myIndex}"><i class="glyphicon glyphicon-user"></i> 我的账户</a></li>
                <li shiro:hasAnyRoles="admin"><a  th:href="@{/admin/toAdmin.html}"> <i class="fa fa-user-o"></i>管理员界面 </a></li>
                <li shiro:hasAnyRoles="merchant"><a th:href="@{/merchants/toMerchants}"> <i class="fa fa-user-o"></i>商家界面 </a></li>
            </ul>
            <ul class="header-links pull-right" shiro:notAuthenticated="">
                <li><a th:href="@{/login/toLogin}"><i class="fa fa-user-o"></i>登录 </a></li>
                <li><a th:href="@{/regist/toRegist}"><i class="fa fa-user-o"></i>注册 </a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a th:href="@{/index}" class="logo">
                            <img th:src="@{/static/img/logo2.jpg}" alt="" height="70" width="150">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form action="#"  onsubmit="return isreturn()">
                            <select class="input-select" id="search_option">
                                <option value="0">全部商品</option>
                                <option value="6">图书</option>
                                <option value="7">纸巾</option>
                                <option value="8">生活用品</option>
                            </select>
                            <input class="input" id="search_value" placeholder="请输入您需要搜索的商品">
                            <button class="search-btn" id="my_search_btn">搜索</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">

                        <div class="dropdown">
                            <a href="javascript:void(0)" onclick="toKill()">
                                <i class="glyphicon glyphicon-indent-right"></i>
                                <span>秒杀专场</span>
                                <div class="qty">k</div>
                            </a>
                        </div>

                        <div class="dropdown">
                            <a href="javascript:void(0)" onclick="toShopCar()" id="to_shopCar">
                                <i class="fa fa-shopping-cart"></i>
                                <span>购物车</span>
                                <div class="qty">3</div>
                            </a>
                        </div>
                        <!-- /Cart -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->


<!-- 轮播图 -->
<div id="imgCircle" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#imgCircle" data-slide-to="0" class="active"></li>
        <li data-target="#imgCircle" data-slide-to="1"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img th:src="@{/static/img/shuffimg/75.jpg}" style="margin: auto" alt="First slide">
        </div>
        <div class="item">
            <img th:src="@{/static/img/shuffimg/76.jpg}" style="margin: auto" alt="Second slide">
        </div>
        <div class="item">
            <img th:src="@{/static/img/shuffimg/77.jpg}" style="margin: auto" alt="Second slide" width="3000px" height="2000px">
        </div>
        <div class="item">
            <img th:src="@{/static/img/shuffimg/78.jpg}" style="margin: auto" alt="Second slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航：就是左右箭头，可省略 -->
    <a class="carousel-control left" href="#imgCircle"
       data-slide="prev">‹
    </a>
    <a class="carousel-control right" href="#imgCircle"
       data-slide="next">›
    </a>
</div>

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav" name="mainNav">
                <li><a href="#" id="0" onclick="getGoodsType(0)">主页</a></li>
                <li><a href="#" id="6" onclick="getGoodsType(6)">易恩图书</a></li>
                <li><a href="#" id="7" onclick="getGoodsType(7)">易恩纸巾</a></li>
                <li><a href="#" id="8" onclick="getGoodsType(8)">易恩用品</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<!-- 商品模块 -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row" id="goods_list">

            <!--商品列表展示-->


        </div>
        <!-- /row -->

        <div class="row" style="margin-top: 100px">
            <!--分页文字信息  -->
            <div class="col-md-4" id="page_info_area" style="margin: auto"></div>
            <!-- 分页条信息 -->
            <div class="col-md-6" id="page_nav_area">

            </div>
        </div>

    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- 脚部文件 -->
<footer id="footer" th:fragment="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">关于我们</h3>
                        <p>易恩商城秉持着方便、快捷、时尚、大气的原则，为客户提供更加优质的购物体验。</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>重庆市南岸区</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>zhangzhou@yiji.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-8 col-xs-6">
                    <div class="col-md-4 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">产品</h3>
                            <ul class="footer-links">
                                <li><a href="#">商家入驻</a></li>
                                <li><a href="#">产品投入</a></li>
                                <li><a href="#">市场营销</a></li>
                                <li><a href="#">市场拓展</a></li>
                                <li><a href="#">欢迎光临</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">信息</h3>
                            <ul class="footer-links">
                                <li><a href="#">关于我们</a></li>
                                <li><a href="#">加入我们</a></li>
                                <li><a href="#">优材招聘</a></li>
                                <li><a href="#">团队合作</a></li>
                                <li><a href="#">人才培养</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">服务</h3>
                            <ul class="footer-links">
                                <li><a href="#">账号信息</a></li>
                                <li><a href="#">异常描述</a></li>
                                <li><a href="#">投诉意见</a></li>
                                <li><a href="#">在线客服</a></li>
                                <li><a href="#">有朋自远方来，不亦乐乎</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

</footer>
<!-- /脚部文件 -->

<!-- jQuery Plugins -->
<script th:src="@{/static/js/slick.min.js}"></script>
<script th:src="@{/static/js/nouislider.min.js}"></script>
<script th:src="@{/static/js/jquery.zoom.min.js}"></script>
<script th:src="@{/ststic/js/main.js}"></script>

</body>
</html>
