<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.management.mapper.OrderMapper">

    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into yien_user_trans(trans_id,trans_goods_num,trans_user_id,trans_user_name,trans_address_id,trans_address_place,trans_merchants_id,
                                    trans_goods_id,trans_goods_name,trans_goods_amount,trans_create_time,trans_pay_status,trans_kd_status,trans_pay_time,
                                    trans_pay_type,trans_delivery_time,trans_delivery_amount,trans_delivery_type,trans_receive_time,raw_add_time)
                          values
                                    (#{transId},#{transGoodsNum},#{transUserId},#{transUserName},#{transAddressId},#{transAddressPlace},#{transMerchantsId},#{transGoodsId},
                                    #{transGoodsName},#{transGoodsAmount},#{transCreateTime},#{transPayStatus},#{transKdStatus},#{transPayTime},
                                    #{transPayType},#{transDeliveryTime},#{transDeliveryAmount},#{transDeliveryType},#{transReceiveTime},#{rawAddTime})
    </insert>

    <select id="selectOrderByUserId" resultType="com.zsl.common.entity.UserTrans">
        select * from yien_user_trans where trans_user_id=#{trans_user_id}
    </select>

</mapper>